.optionalWorkBlock {
    background-color: #eed4a3;
}

.optionalContainer {
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.title {
    background-color: lightgrey;
}

.button{
    border: 1px solid;
    background-color: grey;
    text-align: center;
    width: 100px;
    height: 30px;
}