@import './src/Common/Styles/sass/variables.scss';
@import './src/Common/Styles/sass/mixins.scss';

.label {
    margin-bottom: 0.5rem;
    display: inline-block;
    cursor: default;
}

.input {
    width: 100%;
    margin-bottom: 10px;
    background-color: $primaryColor;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    &:focus {
        border-bottom: 2px solid black;
        transition: all 0.4s ease-in-out;
    }
}