.mainBlock {
    height: 100vh;
    background-color: #d7aff6;
}
.intro {
    width: 300px;
    background-color:  #f3ecec;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #f3ecec;
}